body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #b26150; /* color de la letra Header */
  background-color: #452928;
}

header {
  display: flex;
  align-items: center;
  justify-content: start; /* Asegura que los elementos estén alineados a la izquierda */
  padding: 15px 30px;
  background: #ffead9;
  height: 60px; /
}

.menu-icon {
  font-size: 40px;
  margin-right: 15px;
  cursor: pointer;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.sidenav {
  width: 300px;
  background: #ffead9; /* fondo del navar */
  position: absolute;
  height: 180vh;
  padding: 0 100px;
  left: -100%;
  transition: all 1s;
}

.sidenav.active {
  left: 0;
  width: 130px
}

.logo {
  width: 130px

}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: #b26150; 
  font-size: 30px;
  display: flex; 
  align-items: center;
  padding: 15px 15px;
  border-radius: 10px;
}

ul li a svg {
  margin-right: 10px;
  width: 30px; 
  height: 30px;
  flex-shrink: 0;
}

ul li a:hover {
  transform: scaleX(1.2);
}

header svg {
font-size: 40px;
}

.main { 
  height: 90vh;
  display: flex;

  align-items: center; /* Centra el contenido verticalmente */
  font-size: 40px;
  color: #c9c9c9;
  text-align: center;
}

.loader-container {
  position: fixed; /* Fija el loader en la pantalla */
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #603e3d; /* Color de fondo (bg-stone-950 en Tailwind) */
  z-index: 9999; 
}


.banner {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
  text-align: center;
}

.banner h1 {
  font-size: 80px;
  color:#dbc1b0; /* Color de texto */
  font-weight: bold;
  margin: 0;
}

.banner h2 {
  font-size: 32px;
  color:#ba8c83; /* Color de texto */
  font-weight: bold;
  margin: 0;
}

.banner-create {
  width: 1500%; 
  max-width: 1263px;  
  height: auto;  
  margin: 0 auto; 
  display: block; 
}


.full-width-image {
  width: 100%;  /* Ocupa todo el ancho de la pantalla */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen se ajuste correctamente */
}


