body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #b26150; /* color de la letra Header */
  background-color: #603e3d;
}

header {
padding: 30px;
background: #ffead9; /* fondo del header */
height: 50 px;
}


.sidenav {
  width: 240px;
  background: #ffead9; /* fondo del navar */
  position: absolute;
  height: 95vh;
  padding: 0 30px;
  left: -100%;
  transition: all 1s;
}

.sidenav.active {
  left: 0;
  width: 150px
}

.logo {
  width: 60px
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin: 10px 0;;
}

ul li a {
  text-decoration: none;
  color: #b26150; /* color de la letra del navbar */
  font-size: 20px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px  
}

ul li a:hover,
ul li a.active {
  background: #172b4d; /* fondo cuando el cursor esta encima */
}

header svg {
font-size: 40px;
}

.main { /* Detalles del Home */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #c9c9c9;
}