body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: #b26150; /* color de la letra Header */
  background-color: #452928;
}

header {
  display: flex;
  align-items: center;
  justify-content: start; /* Asegura que los elementos estén alineados a la izquierda */
  padding: 15px 30px;
  background: #ffead9;
  height: 60px;
  position: relative; /* Cambiado de 'absolute' a 'relative' para evitar superposiciones */
  z-index: 2; /* Asegura que el menú se muestre encima del contenido */
}

.menu-icon {
  font-size: 40px;
  margin-right: 15px;
  cursor: pointer;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
}

.sidenav {
  width: 300px;
  background: #ffead9; /* fondo del navbar */
  position: absolute;
  height: 180vh;
  padding: 0 100px;
  left: -100%;
  transition: all 1s;
  top: 90px; /* Inicia debajo del header */
  z-index: 1;
}

.sidenav.active {
  left: 0;
  width: 130px
}

.logo {
  width: 130px

}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  margin: 10px 0;
}

ul li a {
  text-decoration: none;
  color: #b26150; 
  font-size: 30px;
  display: flex; 
  align-items: center;
  padding: 15px 15px;
  border-radius: 10px;
}

ul li a svg {
  margin-right: 10px;
  width: 30px; 
  height: 30px;
  flex-shrink: 0;
}

ul li a:hover {
  transform: scaleX(1.2);
}

header svg {
font-size: 40px;
}

.main {
  height: 90vh;
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  font-size: 40px;
  color: #c9c9c9;
  text-align: center;
  margin-top: 50px; /* Asegura espacio debajo del banner */
}

.loader-container {
  position: fixed; /* Fija el loader en la pantalla */
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #603e3d; /* Color de fondo (bg-stone-950 en Tailwind) */
  z-index: 9999; 
}


.banner {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 40px;
  text-align: center;
}

.banner h1 {
  font-size: 80px;
  color:#dbc1b0; /* Color de texto */
  font-weight: bold;
  margin: 0;
}

.banner h2 {
  font-size: 32px;
  color:#ba8c83; /* Color de texto */
  font-weight: bold;
  margin: 0;
}

.banner-container {
  padding-top: 150px;
  padding-bottom: 20px; 
  position: relative;
}

.bannersCRUD {
  margin-top: 5px;
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.custom-container {
  margin-top: 150px;
}

/* Aplica la fuente 'Roboto' a los títulos */
.custom-input-label {
  font-family: Fantasy; ;
}



input {
  all: unset;
  width: 40%; 
  background-color: #ffead9;
  padding: 12px; 
  border: 2px solid #d1c9c6; 
  border-radius: 8px; 
  font-size: 1.2rem;
  color: #603e3d;
}

#nombre, #edad, #pais {
  width: 30%; }

input:focus {
  outline: none;
  border-color: #8a5541; 
  box-shadow: 0 0 60px #d09077; 
}


/* Estilos para la tabla de clientes */
.client-table {
  width: 60%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffead9; /* Fondo acorde al diseño */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.table-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 100%;
  color: rgb(33, 33, 33);
  
}


.client-table th,
.client-table td {
  padding: 2px;
  text-align: center;
  border-bottom: 2px solid #d1c9c6;
}

.client-table th {
  background-color: #b26150; /* Color principal */
  color: rgb(33, 33, 33);
  font-weight: bold;
  text-transform: uppercase;
}

.client-table tr:nth-child(even) {
  background-color: #f7d7c4;
}

.client-table tr:hover {
  background-color: #e8b9a7; /* Color de fondo al pasar el mouse */
  transition: background-color 0.3s ease;
}

/* Botón estilizado */
.read-button {
  background-color: #b26150;
  color: rgb(0, 0, 0);
  padding: 10px;
  border-radius: 5px;
  width: 20%;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.read-button:hover {
  background-color: #e8b9a7;
}

/* Loader */
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #b26150;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
